<!doctype html>
<html lang="en" ng-app="chemPTEApp">
<head>
  <meta charset="utf-8">
  <title>Periodic Table of Elements - Elemental Properties & Data</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/app.css">
  <script src="bower_components/angular/angular.js"></script>
  <script src="js/controllers.js"></script>
</head>
<body ng-controller="ElementListCtrl">

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <!--Sidebar content-->

        Search: <input ng-model="query">

      </div>
      <div class="col-md-10">
        <!--Body content-->

        <ul class="elements">
          <li ng-repeat="element in elements | filter:query">
            {{element.NAME}}
            <p>{{element.ATOMIC_NUMBER}}</p>
            <p>{{element.SYMBOL}}</p>
          </li>
        </ul>

      </div>
    </div>
  </div>


<pre>{{elements | json}}</pre>

</body>
</html>
